.mainpage {
  background: url("backgroundPic.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
}

.mainpage .overlay {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 900px;
  color: white;
  margin-left: 3%;

}

.mainpage .overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 50px;
  padding-bottom: 20px;
}

.mainpage .overlay p1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 0%;
  text-align: left;
}

.mainpage .overlay .img4 img{
  object-fit: contain;
  margin-left: 48%;
  position: absolute;
  top: 27%;
}
