.mainpage {
  background: url("backgroundPic.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
}

.mainpage .overlay {
  /* background-color: rgba(0,0,0,0.4); */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 900px;
  color: white;
  margin-left: 5%;
  /* background-color: rgba(0,0,0,0.4); */
}

.mainpage .overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 50px;
  padding-bottom: 20px;
}

.mainpage .overlay p1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  margin-top: 2%;
  text-align: left;
}
