@media only screen and (max-width: 700px) {
    .photo {
        display: none;
    }
  }
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}
.photo {
    padding: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.center {
    position: relative;
    width: 50%;
    left: 23%;
    top: 22%;
}
.title
{
    display: flex;
    position: relative;
    font-weight: 100;
    font-size: 33px;
    justify-content: center;
    margin: 0;
}

.logo-container
{
    display: flex;
    position: relative;
}
.logo
{
    position: relative;
    left: 8px;
    font-weight: 100;
    font-style: normal;
    font-size: 33px;
    line-height: 130%;
    color: #232d42;
    margin-bottom: 24px;
}
.select2 {
    display: flex;
    position: relative;
    justify-content: center;
}
.selects
{
    color: #8A92A6;
    text-align-last:center;
    position: relative;
    border: none;
    height: 20px;
    top: 8px;
    margin-bottom: 20px;
}
.Vector1
{
    position: absolute;
    opacity: 0.1;
    color: black;
    left: 85%;
    top: -10%;
    bottom: -100%;
    transform: rotate(90deg);
    display: block;
}

.VectorCardLogin {
    position: absolute;
    opacity: 0.1;
    color: black;
    left: 0%;
    top: -10%;
    bottom: -100%;
    /* transform: rotate(90deg); */
    display: block;
}

.Vector4
{
    opacity: 0.1;
    position: absolute;
    left: 85%;
    right: -99.71%;
    top: -1%;
    bottom: -100%;
    transform: rotate(85deg);
} 

.VectorCardSquare
{
    opacity: 0.1;
    position: absolute;
    left: 0.3%;
    right: -99.71%;
    top: 15%;
    transform: rotate(85deg);
} 

.VectorSyringe {
    opacity: 0.1;
    position: absolute;
    left: 31.7%;
    top: 70%;
}

.loginSubtext {
    color: #8A92A6;
    display: flex;
    margin-top:2%;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 24px;
}