.l {
    margin: 0% 60%;
}
.btn2{
    position: absolute;
    width: 140px;
    height: 30px;
    /* left: 330px; */
    top: 780px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 10px 710px; */
    background: #3A57E8;
    border-radius: 4px;

}
.wa{
    position: absolute;
    /**/;
    top: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.full{
    position: absolute;
    /**/;
    top: 450px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.puth1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    position: absolute;
    width: 250px;
    height: 33px;
    /**/;
    top: 475px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.npi{
    position: absolute;
    /**/;
    top: 505px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.puth2{
    position: absolute;
    /**/;
    top: 530px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.puth3{
    position: absolute;
    /**/;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.puth4{
    position: absolute;
    left: 1300px;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.puth5
{
    position: absolute;
    left: 1600px;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.ea1{
    position: absolute;
    /**/;
    top: 650px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.pass3{
    position: absolute;
    /**/;
    top: 705px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.puth6
{
    position: absolute;
    left: 1300px;
    top: 620px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.puth7
{
    position: absolute;
    /* left: 580px; */
    top: 620px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}

.puth8
{
    position: absolute;
    /**/;
    top: 675px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}
.puth9
{
    position: absolute;
    /**/;
    top: 730px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 710px; */
}